# **List**

In [20]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [24]:
# Create a list of 10 integers
num =[1,2,3,4,5,6,7,8,9,10]
print('Original List: ', num)

#sum ,max and min
print('Max = ', max(num))
print('Min = ', min(num))
#print('Sum = ', sum(num))

# Add and Remove element
num.append(50)
num.remove(10)
print('Updated List: ', num)

#Sort ascending and decending
print('Ascending: ', sorted(num))
print('Descending: ', sorted(num, reverse=True))

Original List:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Max =  10
Min =  1
Updated List:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 50]
Ascending:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 50]
Descending:  [50, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# **Tuples**

In [41]:
#Create a tupple with strings
Fruits = ("Apple","Mango","Orange","Banana","peach")
print('Fruits :', Fruits)

#print 2nd and last index

print('2nd index :', Fruits[1])
print('Last index :', Fruits[-1])

#Try to modify an element then error or not
# Fruits.append("Grapes")
# print('Updated Fruits :', Fruits)
# Fruits.remove("Mango")
# print('Updated Fruits :', Fruits)

#convert the tupple into list
Fruits_list = list(Fruits)
Fruits_list.append("Grapes")
Fruits_list.remove("Mango")
print('Modified list :', Fruits_list)

Fruits : ('Apple', 'Mango', 'Orange', 'Banana', 'peach')
2nd index : Mango
Last index : peach
Modified list : ['Apple', 'Orange', 'Banana', 'peach', 'Grapes']

# **Sets**

In [44]:
# Create two sets
A = {1, 2, 3, 4, 5,6,7}
B = {4, 5, 6, 7, 8,9,10}
print("Set A:", A)
print("Set B:", B)
# Union , Intersection , Differences of two sets
print("Union of A and B:", A | B)
print("Intersection of A and B:", A & B)
print("Difference of A and B:", A - B)
print("Difference of B and A:", B - A)

Set A: {1, 2, 3, 4, 5, 6, 7}
Set B: {4, 5, 6, 7, 8, 9, 10}
Union of A and B: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection of A and B: {4, 5, 6, 7}
Difference of A and B: {1, 2, 3}
Difference of B and A: {8, 9, 10}

# **Dictionary**

In [47]:
#Create a keys of students

Friends = {'Hifza' : 90, 'Memoona ' : 89, 'Munazza ': 85, 'Alisha ': 87}

#print keys and values
print('Friends :', Friends)
print('Keys :', Friends.keys())
print('Values :', Friends.values())

#update value
# students['Hifza'] = 95
# print('Updated Friends :', Friends)

Friends : {'Hifza': 90, 'Memoona ': 89, 'Munazza ': 85, 'Alisha ': 87}
Keys : dict_keys(['Hifza', 'Memoona ', 'Munazza ', 'Alisha '])
Values : dict_values([90, 89, 85, 87])
Updated Friends : {'Hifza': 90, 'Memoona ': 89, 'Munazza ': 85, 'Alisha ': 87}

# **Numpy**

# **Matplotlib**